<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
    </head>
<body>
    <div class="body-wrapper">
        <div class="body-row">
            <div class="logo">
                <img src="{{url_for('static', filename='images/logo.png')}}" />
            </div>
        </div>
        <div class="player-row">
            <div class="player">
                ghbdtn
            </div>
        </div>
    </div>
</body>
</html>