html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-position: center;
}

.logo > img {
    width: 80px;
}

.body-row {
    display: flex;
    flex-direction: row;
}

.player-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player {
    width: 40vw;
    background-color: grey;
}